/local_pages
/__pycache__
*.zip
/Exercises/Ex1 - Crawler/local_pages
venv/
venv311/
Claude TODO.md
Project/cards.json
/.claude
/.jupyter
.jupyter_ystore.db
CONTEXT.md
/Project/.ipynb_checkpoints
*.parquet
cards.json
scryfall_fields.json
Project/scryfall_fields.json
